services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ../project:/var/www/html:delegated
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    volumes:
      - ../project:/var/www/html:delegated
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - network

  db:
    image: postgres:15-alpine
    container_name: db
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    ports:
      - "8080:80"
    networks:
      - network
    depends_on:
      - db

volumes:
  db_data:
    driver: local

networks:
  network:
    driver: bridge
